.listFilterBox{
	background-color: #f6f7f8;
    padding: 28px 0 18px 0;
    border-bottom: 1px solid #f0f0f0;
}
.mainInnerBox{
	display: block;
    margin-right: auto;
    margin-left: auto;
    width:1024px
}
.listFilterItemBox{
	
}
.listFilterSecItemBox{
	
}
.listFilterSecItemBox .innerBox{
	
}
.selectItems{
	
}
.displayItemsBox{
	
}
.footer-body{
	
}
.footer-article{
	
}
.item-card{
	
}
.item-logo{
	
}
.item-process{
	
}
